.mid1 {
  display: flex;
  width: 80%;
  padding: 0px 80px 0px 80px;
}
.mid {
  display: flex;
  width: 100%;
  
  border-bottom: 2px solid rgb(160, 157, 157);
  padding-bottom: 24px;
  font-family: "Inter";
  padding-top: 390px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
    align-self: flex-start;
  align-items: center;
}
