.CheckboxInput {
  display: flex;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1.4px solid #aeaeae;
  border-radius: 4px;
  
}
.Checkbox {
  padding: 28px 80px 0px 80px;
}
.CheckboxText {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter";
  margin-left: 12px;
}
.trash {
  width: 240px;
  height: 48px;
  background: #e4e6e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-left: 56px;
  gap: 12px;
  padding: 0px;
}
.DDot{
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  
  
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 240px;
  gap: 10px;
  background: #e4e6e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  position: absolute;
  left: 87px;
}
.firstShow {
  display: flex;
  gap: 12px;
}
.secondShow {
  display: flex;
  gap: 12px;
  background: rgba(8, 30, 52, 0.2);
}
