.button {
  display: flex;
  position: absolute;
  gap: 16px;
  left: 80px;
  top: 286px;
}
.button button {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border-radius: 100px;
  border: none;
  font-family: 'Inter';

  padding: 11px 24px;
}
.b1 {
  background: rgba(8, 30, 52, 0.42);
  color: #ffff;
}
.black {
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  border-radius: 100px;
  background-color: black;
  



  
}
